.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* nave item */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
}
nav ul li{
  list-style: none;

}
.nav-title{
  color: #0D1321;
  font-size: 28px;
  font-weight: 800;
}

.color{
  color: #0D1321;
  font-size: 20px;
  font-weight: 600;
}
.btn{
  color: #0D1321;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid;
  border-radius: 8px;
  padding: 17px 24px;
}
/* banner style */

.banner-containt{
  max-width: 1440px;
  min-height: 650px;
  margin: 0 auto;
  margin-top: 25px;
  background-image: url('./assets/hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550;
}

.image{
  max-width: 240px;
  min-height: 240px;
  padding: 25px 350px 30px;
  margin: 0 auto;
}

.banner-heading{
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding: 30px 110px;
  margin: 0 auto;
}

.banner-para{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 24px 75px;
  margin: 0 auto;
}
.button{
  background-color: #0D1321;
  font-size: 20px;
  font-weight: 400;
  border-radius: 8px;
  padding: 21px 24px;
  color: white;
}

/* section part */

.section-containt{
  max-width: 1140px;
  min-height: 1760px;
  margin: 0 auto;
  margin-top: 75px;
  background-position: center;
  background-color: #eae7e135;
  border-radius: 16px;
}



.section-containt2{
  max-width: 945px;
  min-height: 1600px;
  margin: 0 auto;
  margin-top: 75px;
  background-position: center;
}

.header-2{
  font-size: 32px;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  margin-top: 0px;
}
.para2{
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding: 24px 48px 48px;
}
.child{
  display: flex;
  max-width: 945px;
  min-height: 330px;
  background-color: white;
  margin: 0 auto;
  margin-top: 45px;
  background-position: center;
  justify-content: space-between;
}
.child{
  display: flex;
  max-width: 945px;
  min-height: 330px;
  background-color: white;
  margin: 0 auto;
  margin-top: 45px;
  background-position: center;
  justify-content: space-between;
}
.heading1{
  font-size: 24px;
  font-weight: 700;
  margin: 0 auto;
  padding: 48px 85px 15px 48px;
}
.para3{
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  padding: 16px 9px 15px 48px;
}
.picture{
  width: 275px;
  height: 240px;
  padding: 48px 115px 48px 30px;
}
.btn1{
  font-size: 20px;
  font-weight: 400;
  margin: 32px 300px 60px 50px;
  padding: 12px 20px;
  background-color: white;
  border: 1px solid;
}
.vedio{
  max-width: 1140px;
  max-height: 775px;
  margin: 0 auto;
  background-position: center;
}

.header3{
  font-size: 32px;
  font-weight: 800;
  padding-bottom: 75px;
  text-align: center;
  margin: 0 auto;
}
.main-vedio{
  border-radius: 16px;
}
.last{
  max-width: 1140px;
  min-height: 460px;
  margin-top: 150px;
  justify-content: center;
  }
.heading2{
  font-size: 32px;
  font-weight: 800;
  margin: 0 0 25px;
  text-align: center;
}
.para4{
  font-size: 16px;
  font-weight: 400;
  margin: 24px 45px 50px;
  text-align: center;
}
.box{
  max-width: 265px;
  min-height: 250px;
  background-color: #e4b39eeb;
  text-align: left;
  border-radius: 16px;
  padding: 40px 40px;
  margin-right: 24px;
  align-items: center;
}
.box2{
  max-width: 265px;
  min-height: 250px;
  background-color: #d4e49eeb;
  text-align: left;
  border-radius: 16px;
  padding: 40px 40px;
  margin-right: 24px;
  align-items: center;
}
.box3{
  max-width: 265px;
  min-height: 250px;
  background-color: #81b2baeb;
  text-align: left;
  border-radius: 16px;
  padding: 40px 40px;
  margin-right: 24px;
  align-items: center;
}
.hyper{
  max-width: 56px;
  min-height: 56px;
}
.text{
  font-size: 24px;
  font-weight: 800;
}
.pragraph{
  font-size: 16px;
  font-weight: 400;
}
.ank{
  font-size: 16px;
  font-weight: 700;
  color: #0D1321;
}
.main-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 550;
}
.backround{
  max-width: 1140px;
  min-height: 310px;
  margin: 0 auto;
  margin-top: 25px;
  background-image: url('./assets/handshake.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.main-back{
  display: flex;
  background-position: center;
  color: white;
}